<!-- form currently exists and works on show page -->


<h1>Edit Here</h1>
<div role="form" class="col-xs-12" id="edit-form">
	<%= form_for(@coach) do |f| %>

	<div class="form-group">
	    <%= f.label :name %><br>
	    <%= f.text_field :name %>
	</div>

	<div class="form-group">
	  <%= f.label :title %><br>
	  <%= f.text_field :title %>
	</div>

	<div class="form-group">
	  <%= f.label :school %><br>
	  <%= f.text_field :school %>
	</div>

	<div class="form-group">
	  <%= f.label :email %><br>
	  <%= f.text_field :email %>
	</div>

	<!--         <div class="form-group">
	  <%#= f.file_field :avatar %><br>
	</div> -->

	<%= f.submit %>

	<% end %>
</div>